{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Viral De-cease|Disease Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/HOMEPAGE.css" />
    <link rel="stylesheet" href="css/disease-library.css" />
</head>

<body background="dark2.jpg">
    <audio width="300" autoplay loop>
      <source src="codm.mp3" type="audio/mp3">
    </audio>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="nav1">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="HOMEPAGE.html">
            <img src="LOGO.jpeg" width=50px height="30" class="d-inline-block align-top" alt=""> Viral De-cease
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent navigation">
            <ul class="navbar-nav mr-auto profile-menu">
                <li class="nav-item">
                    <a class="nav-link" href="HOMEPAGE.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Jane</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" data-trigger="dropdown" href="Disease-library.html">Disease Library</a>
                    <ul class="profile-submenu submenu">
                        <li class="drop active"><a href="COVID-19.html">COVID-19</a></li>
                        <li class="drop"><a href="AIDS.html">AIDS</a></li>
                        <li class="drop"><a href="Rabies.html">Rabies</a></li>
                        <li class="drop"><a href="#">View More</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="About Us.html">About Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <header>
    <h1><center><u>DISEASE LIBRARY</u></center></h1>
    <p>During the ongoing COVID 19 pandemic, the world is on a standstill.This shows the impact a 100nm long object can have on the whole Earth .Humans who boost about being the most pwerful creature ,
    the unanswerable authority is shown its place by the nature.However it can't stop us from sympathising for the victims. So we , the team Algo Nukes wanted to do something for the ones who are
    threatenend by viruses. So we come up with the idea of Viral De-Cease , A one-stop website for finding stuff about Viral Diseases. Soon we will  expand it to Bacterial and Fungal Diseases too. \
    The website tells us about the following diseases:
    <ul><h4>
      <li><a href="AIDS.html">AIDS</a></li>
      <li><a href="Common Cold.html">Common Cold</a></li>
      <li><a href="COVID-19.html">COVID-19</a></li>
      <li><a href="Hepatitis A.html">Hepatitis A</a></li>
      <li><a href="Hepatitis B.html">Hepatitis B</a></li>
      <li><a href="Rabies.html">Rabies</a></li>
      <li><a href="Swine Flu H1N1.html">Swine Flu</a></li>
    </h4></li>
    </header>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/HOMEPAGE.js"></script>
  </body>
</html>
