{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Viral De-cease|Hepatitis A</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/HOMEPAGE.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/diseases.css' %}"/>
</head>

<body background="{% static 'blog/dark2.jpg' %}">
    <audio width="300" autoplay loop>
      <source src="{% static 'blog/codm.mp3' %}" type="audio/mp3">
    </audio>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="nav1">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="{% url 'blog-home' %}">
            <img src="{% static 'blog/LOGO.jpeg' %}" width=50px height="30" class="d-inline-block align-top" alt=""> Viral De-cease
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent navigation">
            <ul class="navbar-nav mr-auto profile-menu">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog-home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Jane</a>
                </li>
                <li class="nav-item active">
            <a class="nav-link active" data-trigger="dropdown" href="{% url 'diseas_library' %}">Disease Library</a>
            <ul class="profile-submenu submenu">
              <li class="drop active"><a href="{% url 'covid' %}">COVID-19</a></li>
              <li class="drop"><a href="{% url 'aids' %}">AIDS</a></li>
              <li class="drop"><a href="{% url 'rabies' %}">Rabies</a></li>
              <li class="drop"><a href="{% url 'diseas_library' %}">View More</a></li>
            </ul>
          </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <img class="dis-image" src="{% static 'blog/hepatitisa.jpg' %}" align="right" height=300px width=500px/>
    <article class="dis-article">
        <h1><u>Hepatitis A</u></h1><br/>
        <p>Hepatitis A is an infectious disease of the liver caused by Hepatovirus A (HAV); it is a type of viral hepatitis.It is usually spread by eating food or drinking water contaminated with infected feces.It may also be spread through close contact
            with an infectious person. While children often do not have symptoms when infected, they are still able to infect others. After a single infection, a person is immune for the rest of his or her life. Diagnosis requires blood testing, as the
            symptoms are similar to those of a number of other diseases. It is one of five known hepatitis viruses: A, B, C, D, and E.The hepatitis A vaccine is effective for prevention.[needs update] Some countries recommend it routinely for children
            and those at higher risk who have not previously been vaccinated. It appears to be effective for life
            <ul>
                <li>
                    <h3><u>Sign and Symptoms</u></h3>
                </li>
                Early symptoms of hepatitis A infection can be mistaken for influenza, but some sufferers, especially children, exhibit no symptoms at all. Symptoms typically appear 2 to 6 weeks (the incubation period) after the initial infection. About 90% of children
                do not have symptoms. The time between infection and symptoms, in those who develop them, is between 2 and 6 weeks with an average of 28 days.The risk for symptomatic infection is directly related to age, with more than 80% of adults having
                symptoms compatible with acute viral hepatitis and the majority of children having either asymptomatic or unrecognized infections. Symptoms usually last less than 2 months, although some people can be ill for as long as 6 months:
                <br/><br/>
                <li>
                    <h3><u>Transmission</u></h3>
                </li>
                The virus spreads by the fecal–oral route, and infections often occur in conditions of poor sanitation and overcrowding. Hepatitis A can be transmitted by the parenteral route, but very rarely by blood and blood products. Food-borne outbreaks are common,[34]
                and ingestion of shellfish cultivated in polluted water is associated with a high risk of infection. About 40% of all acute viral hepatitis is caused by HAV. Infected individuals are infectious prior to onset of symptoms, roughly 10 days
                following infection. The virus is resistant to detergent, acid (pH 1), solvents (e.g., ether, chloroform), drying, and temperatures up to 60 °C. It can survive for months in fresh and salt water. Common-source (e.g., water, restaurant)
                outbreaks are typical. Infection is common in children in developing countries, reaching 100% incidence, but following infection, lifelong immunity results. HAV can be inactivated by chlorine treatment (drinking water), formalin (0.35%,
                37 °C, 72 hours), peracetic acid (2%, 4 hours), beta-propiolactone (0.25%, 1 hour), and UV radiation (2 μW/cm2/min). HAV can also be spread sexual contact specifically oroanal sexual acts. In developing countries, and in regions with poor
                hygiene standards, the rates of infection with this virus are high[36] and the illness is usually contracted in early childhood. As incomes rise and access to clean water increases, the incidence of HAV decreases. In developed countries,
                though, the infection is contracted primarily by susceptible young adults, most of whom are infected with the virus during trips to countries with a high incidence of the disease or through contact with infectious persons. Humans are the
                only natural reservoir of the virus. No known insect or other animal vectors can transmit the virus. A chronic HAV state has not been reported.
                <br/><br/>
            </ul>
    </article>
    <center>
        <div><a href="https://www.cdc.gov/hepatitis/hav/index.htm">FOR MORE INFORMATION, CLICK HERE</a></div>
    </center><br/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'blog/HOMEPAGE.js' %}"></script>
