{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Viral De-cease|Rabies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/HOMEPAGE.css" />
    <link rel="stylesheet" href="css/diseases.css" />
</head>

<body background="dark2.jpg">
    <audio width="300" autoplay loop>
      <source src="codm.mp3" type="audio/mp3">
    </audio>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="nav1">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="HOMEPAGE.html">
            <img src="LOGO.jpeg" width=50px height="30" class="d-inline-block align-top" alt=""> Viral De-cease
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent navigation">
            <ul class="navbar-nav mr-auto profile-menu">
                <li class="nav-item">
                    <a class="nav-link" href="HOMEPAGE.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Jane</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" data-trigger="dropdown" href="Disease-library.html">Disease Library</a>
                    <ul class="profile-submenu submenu">
                        <li class="drop active"><a href="COVID-19.html">COVID-19</a></li>
                        <li class="drop"><a href="AIDS.html">AIDS</a></li>
                        <li class="drop"><a href="#">Rabies</a></li>
                        <li class="drop"><a href="Disease-library.html">View More</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="About Us.html">About Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <img class="dis-image" src="rabies.png" align="right" height=300px width=500px/>
    <article class="dis-article">
        <h1><u>Rabies</u></h1><br/>
        <p>Rabies is a viral disease that causes inflammation of the brain in humans and other mammals. Early symptoms can include fever and tingling at the site of exposure. Rabies is caused by lyssaviruses, including the rabies virus and Australian bat
            lyssavirus. It is spread when an infected animal bites or scratches a human or other animal. Saliva from an infected animal can also transmit rabies if the saliva comes into contact with the eyes, mouth, or nose. Globally, dogs are the most
            common animal involved. In countries where dogs commonly have the disease, more than 99% of rabies cases are the direct result of dog bites. In the Americas, bat bites are the most common source of rabies infections in humans, and less than
            5% of cases are from dogs. Rodents are very rarely infected with rabies. The disease can be diagnosed only after the start of symptoms.
            <ul>
                <li>
                    <h3><u>Sign and Symptoms</u></h3>
                </li>
                The period between infection and the first symptoms (incubation period) is typically 1–3 months in humans. This period may be as short as four days or longer than six years, depending on the location and severity of the wound and the amount of virus introduced.Initial
                symptoms of rabies are often nonspecific such as fever and headache. As rabies progresses and causes inflammation of the brain and meninges, symptoms can include slight or partial paralysis, anxiety, insomnia, confusion, agitation, abnormal
                behavior, paranoia, terror, and hallucinations. The person may also have fear of water. The symptoms eventually progress to delirium, and coma. Death usually occurs 2 to 10 days after first symptoms. Survival is almost unknown once symptoms
                have presented, even with intensive care.
                <br/><br/>
                <li>
                    <h3><u>Transmission</u></h3>
                </li>
                All warm-blooded species, including humans, may become infected with the rabies virus and develop symptoms. Birds were first artificially infected with rabies in 1884; however, infected birds are largely, if not wholly, asymptomatic, and recover. Other
                bird species have been known to develop rabies antibodies, a sign of infection, after feeding on rabies-infected mammals.
                <br/><br/>The virus has also adapted to grow in cells of cold-blooded vertebrates.Most animals can be infected by the virus and can transmit the disease to humans. Infected bats, monkeys, raccoons, foxes, skunks, cattle, wolves, coyotes,
                dogs, cats, and mongooses (normally either the small Asian mongoose or the yellow mongoose) present the greatest risk to humans.The virus is usually present in the nerves and saliva of a symptomatic rabid animal. The route of infection
                is usually, but not always, by a bite. In many cases, the infected animal is exceptionally aggressive, may attack without provocation, and exhibits otherwise uncharacteristic behavior. This is an example of a viral pathogen modifying the
                behavior of its host to facilitate its transmission to other hosts. Casual contact, such as touching a person with rabies or contact with non-infectious fluid or tissue (urine, blood, feces) does not constitute an exposure and does not
                require post-exposure prophylaxis. But as the virus is present in sperm and vaginal secretions, it might be possible for rabies to spread through sex. There are only a handful of recorded cases of human-to-human transmission of rabies,
                and all occurred through organ transplants from infected donors.</br>
                </br>

            </ul>
    </article>
    <center>
        <div><a href="https://www.cdc.gov/rabies/index.html">FOR MORE INFORMATION, CLICK HERE</a></div>
    </center><br/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/HOMEPAGE.js"></script>
