<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="{% static 'blog/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/HOMEPAGE.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/jane.css' %}"/>
</head>
<body background="{% static 'blog/dark2.jpg' %}">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="nav1">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'blog-home' %}">
      <img src="{% static 'blog/LOGO.jpeg' %}" width=50px height="30" class="d-inline-block align-top" alt="">
      Viral De-cease
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent navigation">
      <ul class="navbar-nav mr-auto profile-menu">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog-home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'index' %}">Jane</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-trigger="dropdown" href="{% url 'diseas_library' %}">Disease Library</a>
            <ul class="profile-submenu submenu">
              <li class="drop"><a href="{% url 'covid' %}">COVID-19</a></li>
              <li class="drop"><a href="{% url 'aids' %}">AIDS</a></li>
              <li class="drop"><a href="{% url 'rabies' %}">Rabies</a></li>
              <li class="drop"><a href="{% url 'diseas_library' %}">View More</a></li>
            </ul>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About Us <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <header>
    <br>
    <br><br/>
    <center>
    <textarea id="chat-log" cols="100" rows="10"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var msg = new SpeechSynthesisUtterance();
            msg.text =data.message;
            if (data.message=="redirect")
              window.open("http://localhost:8000/diseas_library/");
            document.querySelector('#chat-log').value += (data.message + '\n');
            window.speechSynthesis.speak(msg);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
            document.querySelector('#chat-log').value += message + "\n"
        };
    </script>
  </center>
  </header>
  <section >
  <ul>
      <br>
    <li>
      <u>NOTE : </u>This is the beta version of Jane. Integration is still in developement
      <br>You can run the following commands :
      <ul>
      <li>Greetings</li>
      <li>I have {symptoms} </li>
      <li>Information about any disease by typing the name of the disease</li>
      <li>Redirect to our Disease Library for more information</li>
      </ul>
    </li>
  </ul>
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="{% static 'blog/HOMEPAGE.js' %}"></script>
</body>
</html>


